body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

canvas {
  background-color: black;
  margin: 3rem;
}

p {
  background-color: black;
  color: white;
  margin: 2rem;
}